workflows/02-company-intelligence-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 1500],
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Sheet3"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-350, 1500],
      "name": "Read Company Pages",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "ADD_YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(i => ({ json: { url: i.json[\"Company Page\"] }}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 1500],
      "name": "Normalize URLs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [150, 1500],
      "name": "Loop URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": { "response": { "responseFormat": "text" }, "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 1500],
      "name": "Fetch Website",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const html=$json.data||\"\";const text=html.replace(/<[^>]*>/g,' ').toLowerCase();const socials={linkedin:/linkedin\\.com/.test(text),instagram:/instagram\\.com/.test(text),twitter:/twitter|x\\.com/.test(text),facebook:/facebook\\.com/.test(text)};const keywords=[\"launch\",\"launched\",\"new product\",\"announcement\"];const found=keywords.filter(k=>text.includes(k));return [{json:{OnlinePresence:Object.values(socials).some(Boolean),ProductLaunch:found.length>0,Confidence:found.length>1?\"High\":found.length?\"Medium\":\"Low\",Proof:found.join(', ')}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 1500],
      "name": "Analyze Website"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Sheet4",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Online Presence": "={{ $json.OnlinePresence }}",
            "Product Launch": "={{ $json.ProductLaunch }}",
            "Confidence": "={{ $json.Confidence }}",
            "Proof": "={{ $json.Proof }}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 1500],
      "name": "Save Intelligence",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "ADD_YOUR_GOOGLE_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Read Company Pages", "type": "main" }]] },
    "Read Company Pages": { "main": [[{ "node": "Normalize URLs", "type": "main" }]] },
    "Normalize URLs": { "main": [[{ "node": "Loop URLs", "type": "main" }]] },
    "Loop URLs": { "main": [[], [{ "node": "Fetch Website", "type": "main" }]] },
    "Fetch Website": { "main": [[{ "node": "Analyze Website", "type": "main" }]] },
    "Analyze Website": { "main": [[{ "node": "Save Intelligence", "type": "main" }]] }
  },
  "meta": {
    "instanceId": "SANITIZED_FOR_GITHUB"
  }
}
